
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FONDO GENERAL */
body{
    background-color:#000;
    color:white;
}

/* NAV (BOTONES ARRIBA) */
.nav{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
    position:sticky;
    top:0;
    background:black;
    border-bottom:2px solid orange;
}

/* BOTONES */
.nav a{
    text-decoration:none;
    color:orange;
    border:2px solid orange;
    padding:10px 18px;
    border-radius:8px;
    transition:0.3s;
}

/* HOVER BOTONES */
.nav a:hover{
    background:orange;
    color:black;
    box-shadow:0 0 10px orange;
}

/* SECCIÓN PRINCIPAL */
.seccion{
    display:flex;
    justify-content:center;
    padding:40px 20px;
}

/* TARJETA */
.card{
    max-width:900px;
    background:#111;
    border:2px solid orange;
    border-radius:15px;
    padding:25px;
    box-shadow:0 0 20px rgba(255,165,0,0.2);
}

/* TITULO PRINCIPAL */
.card h2{
    text-align:center;
    color:orange;
    margin-bottom:20px;
    font-size:30px;
}

/* SUBTITULOS */
.card h3{
    margin-top:30px;
    margin-bottom:10px;
    color:orange;
}

/* TEXTO */
.card p{
    margin-bottom:15px;
    line-height:1.6;
}

/* LISTAS */
.card ul{
    margin-left:20px;
    margin-bottom:15px;
}

/* IMÁGENES */
.card img{
    width:100%;
    border-radius:10px;
    margin:10px 0;
    border:2px solid orange;
    transition:0.3s;
}

/* EFECTO IMÁGENES */
.card img:hover{
    transform:scale(1.03);
    box-shadow:0 0 15px orange;
}

/* SCROLL SUAVE */
html{
    scroll-behavior:smooth;
}
